{% extends 'base.html.twig' %}

{% block title %}
	{% trans from 'common' %} menu.dashboard {% endtrans %}
{% endblock %}

{% block body %}
	<a href="{{ path('users_list') }}">
		{% trans from 'common' %} user.user_list {% endtrans %}
	</a>
{% endblock %}
